
.DS_Store
*.pyc
*.pth
*.h5

output*/
Trash/
results/

autoencoder*
model_phasenet*
EQNet.egg-info/
test_data/
build/
Ridgecrest_South_2/
model0*
model1*
C0*
with_event
with_noise
Arcata_*
result_C*
Forge_Utah/
Utah*/
debug/
mseed/
mammoth_south*/
results*/
Curie*/

converted_phase/manualpicks*

*.whl
*.tar.gz
poggiali*
model/
model2/
datasets/NCEDC/figures
result_eqnet
Mammoth_north_new
Mammoth_south_new
Mammoth_north
Mammoth_south
tests/phasenet_das/association/picks_phasenet_das/
tests/phasenet_das/association/figures_phasenet_filtered/
ridgecrest_south
Ridgecrest_DAS
*/figures_phasenet_das_raw/
*/picks_phasenet_das_raw/
**/paper_figures/
